.seo-plugin-data-info.container {
  width: 500px;
  margin: 50px;
}
.seo-plugin-data-info.container h2 {
  font-size: 26px;
  margin-bottom: 50px;
}

.inner-content-data label {
  font-size: 17px;
}
.inner-content-data .form-group {
  margin-bottom: 21px;
}
.inner-content-data .form-group input.checkbox-data {
  margin-top: 5px;
}
.seo-plugin-data-info.container input.button.button-primary {
  padding: 6px 46px;
  font-size: 14px;
  margin-top: 30px;
}

/* admin file css */
#wpcontent {
  padding-left: 0px;
}

body {
  background-color: #000 !important;
  /* Full dark background */
  color: white !important;
  /* White text for general content */
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
}

.container {
  width: auto;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: white;
  /* Setting the heading color to white */
  text-align: center;
}

.inner-content {
  background-color: #333;
  /* Slightly lighter dark background for the box */
  padding: 20px;
  box-shadow: 0px 0px 10px 0px white;
  /* White shadow */
  border-radius: 10px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-left: 10px;
}

.button {
  background-color: #4caf50;
  /* Updated button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.button:hover {
  background-color: #45a049;
}

.seo-plugin-data-info h2 {
  text-align: left;
}

.seo-plugin-data-info.container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 6px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
  /* background: #1c1c1c85; */
  padding: 20px;
  border-radius: 6px;
}

.seo-plugin-data-info .button.button-primary {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

/* INTERNAL = END *


/* custom css = START */
.toast-success {
  background-color: #1c1c1c85 !important;
}

.boxtitle {
  /* background: #B7B7B7; */
  display: block;
  color: #ccc;
  padding: 20px;
  text-align: center !important;
  margin-bottom: 20px !important;
}

/* custom css = end */

/* switch = START */
.switch input {
  display: none;
}
.switch {
  display: inline-block;
  width: 50px;
  height: 14px;
  margin: 5px;
  margin-left: 25px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: #b7b7b7;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: visible;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background: #706f6f;
  border-radius: 100px;
  top: -8px;
  -webkit-transform: translateX(-0px);
  transform: translateX(-0px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  background: #43ad50;
}
.off {
  position: absolute;
  left: -25px;
  top: -5px;
  color: #706f6f;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.on {
  position: absolute;
  right: -20px;
  top: -5px;
  color: #d3d3d3;
  font-family: "roboto_light", sans-serif;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.switch input:checked ~ .off {
  color: #d3d3d3;

  top: -5px;
}

.switch input:checked ~ .on {
  color: #43ad50;
}

/* switch = END */

.switch-label {
  display: inline-block;
  margin: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-size: 17px;
  font-weight: 500;
  color: #b7b7b7;
}

/* effects */
@keyframes grow {
  to {
    transform: scale(5);
    opacity: 0;
  }
}

.particle {
  position: fixed;
  width: 2px;
  height: 2px;
  background: hsla(0, 100%, 100%, 1);
  border-radius: 50%;
  animation: grow 1000ms ease-in forwards;
}

/* google reviews */
.input-field {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.input-field input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus {
  border: 2px solid #ffcc00;
}
input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #000;
}

.submit_btn {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 4%;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
}

.submit_btn:hover {
  background-color: #0056b3;
  box-shadow: 0px 3px 7px rgba(132, 168, 201, 0.4);
  color: #fff;
  transform: translateX(1px);
}


.submit_btn_setget {
  display: flex;
  gap:20px;
}



.field_container {
  display: inline-block;
  width: 100%;
}


/* correct sign */
.correct-sign {
  position: absolute;
  top: 50%;
  right: -20px; /* Initially positioned outside the field */
  transform: translateY(-50%);
  color: green;
  font-size: 2.2em;
  opacity: 0;
  transition: opacity 0.3s, right 0.3s; /* Add transition for opacity and right properties */
}

.correct-sign.visible {
  opacity: 1;
  right: 10px; /* Adjust the distance from the right side as needed */
}


.wrong-sign {
  position: absolute;
  top: 50%;
  right: -20px; /* Initially positioned outside the field */
  transform: translateY(-50%);
  color: green;
  font-size: 2.2em;
  opacity: 0;
  transition: opacity 0.3s, right 0.3s; /* Add transition for opacity and right properties */
}

.wrong-sign.visible {
  opacity: 1;
  right: 10px; /* Adjust the distance from the right side as needed */
}

.get_review_count.wrong{
  border:2px solid red;
}

.cont {
  
  transition: all .7s;
  &.hidden {
    height: 0;
    transition: all .7s;
  }
}


/* button css */
.twoToneCenter {
  text-align: center; 
}
.btn-process {
  display: inline-block;
  border: 1px solid black;
  outline: none;
  padding: 10px 20px;
  line-height: 1.4;
  background: #212121;
  background: linear-gradient(to bottom, #545454 0%, #474747 50%, #141414 51%, #1B1B1B 100%);
  border-radius: 4px;
  border: 1px solid black;
  color: #DADADA;
  text-shadow: black -1px -1px 0px;
  position: relative;
  transition: padding-right 0.3s ease;
  font-weight: 700;
  box-shadow: 0 1px 0 #6E6E6E inset, 0px 1px 0 #3B3B3B;
}
.btn-process:hover {
  box-shadow: 0 0 10px #080808 inset, 0px 1px 0 #3B3B3B;
  color: #F3F3F3;
}
.btn-process:active {
  box-shadow: 0 0 10px #080808 inset, 0px 1px 0 #3B3B3B;
  color: white;
  background: #080808;
  background: linear-gradient(to bottom, #3B3B3B 0%, #2E2E2E 50%, #141414 51%, #080808 100%);
}
.btn-process.spinning {
  background-color: #212121;
  padding-right: 40px;
}
.btn-process.spinning:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  box-shadow: 0px 0px 0 1px #080808;
  position: absolute;
  border-radius: 50%;
  animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
.btn-process.spinning:before {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  right: 6px;
  top: 50%;
  position: absolute;
  border: 2px solid black;
  border-right: 3px solid #27AE60;
  animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}


/* new css */
.get-set-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 1em;
}
.get-set-btn>.submit_btn_setget {
  width: 100%;
}
.get-set-btn>.submit_btn_setget button {
  width: 100%;
}